@font-face {
	font-family: saiyan-sans;
	src: url("saiyan-sans.ttf");
}

body {
	margin: 0px;
	background-color: black;
}

h1 {
	color: white;
	font-family: fantasy;
	text-align: center;
	border-bottom: 2px solid red;
	border-right: 2px solid red;
	width: 400px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	/*width: 200px;*/
	height: 400px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}

p {
	font-family: saiyan-sans;
	color: white;
	font-size: 30px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}